﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@{

string ActionName = "Approve";

ViewBag.SubTitle = " - " + ActionName;

ParameterHistory parameter = (ParameterHistory)ViewData["ParameterHistory"];

}

@if (parameter != null)
{
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
@Html.Hidden("Id", parameter.Id)
<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.SVSParameter - @ParameterResources.CurrentSetting </legend>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label text-bold">@ParameterResources.UserId </label>
                        <div class="col-lg-9 control-label">
                            @parameter.UserId
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label text-bold">@ParameterResources.Password </label>
                        <div class="col-lg-9 control-label">
                            @Html.TextBox("Password", @parameter.Password, new { @type = "Password", @readonly=true, @style="border-style:none" })
                            
                        </div>
                    </div>
                   
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label text-bold">@ParameterResources.StaggingUrl </label>
                        <div class="col-lg-9 control-label">
                            @parameter.StaggingUrl;
                        </div>
                    </div>
                   
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.ModifiedSetting</legend>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-12 control-label">
                            @parameter.NewUserId
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-12 control-label">
                            @Html.TextBox("Password", @parameter.NewPassword, new { @type = "Password", @readonly = true, @style = "border-style:none" })                            
                        </div>
                    </div>
                    
                    <div class="form-group form-group-xs">
                        <div class="col-lg-9 control-label">
                            @parameter.NewStaggingUrl
                        </div>
                    </div>
                    
                </fieldset>
            </div>
        </div>
        <div class="row">
                
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.SystemParameter - @ParameterResources.CurrentSetting</legend>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Session Timeout (min) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.SessionTimeout
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Login Attempt</label>
                        <div class="col-lg-4 control-label">
                            @parameter.LoginAttempt
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">@ParameterResources.passwordExp </label>
                        <div class="col-lg-4 control-label">
                            @parameter.PasswordExp
                        </div>
                    </div>
                   
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.ModifiedSetting</legend>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewSessionTimeout
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewLoginAttempt
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewPasswordExp
                        </div>
                    </div>
                   
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.SVSMain - @ParameterResources.CurrentSetting</legend>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Max Size KTP (KBs) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.SizeKTP
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Max Size Signature (KBs)</label>
                        <div class="col-lg-4 control-label">
                            @parameter.SizeSignature
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Max Size Document (KBs) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.SizeDocument
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.ModifiedSetting</legend>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewSizeKTP
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewSizeSignature
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewSizeDocument
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.BatchProses - @ParameterResources.CurrentSetting</legend>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Keep History (days) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.KeepHistory
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Keep Audit Trail (days) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.KeepAuditTrail
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Keep Pend Apprv (days) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.KeepPendingAppr
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">Max diff Account (%) </label>
                        <div class="col-lg-4 control-label">
                            @parameter.MaxDiffAccount
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold">@ParameterResources.ModifiedSetting</legend>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewKeepHistory
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewKeepAuditTrail
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewKeepPendingAppr
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-4 control-label">
                            @parameter.NewMaxDiffAccount
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold"></legend>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">@BaseResources.RequestBy</label>
                        <div class="col-lg-6 control-label">
                            @parameter.ChangedBy
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label text-bold">@BaseResources.RequestDate</label>
                        <div class="col-lg-6 control-label">
                            @parameter.ChangedDate
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="content-group">
                    <legend class="text-semibold"> </legend>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label text-bold">@BaseResources.Actions</label>
                        <div class="col-lg-5">
                            <select name="ApprovalStatus" id="ApprovalStatus" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                <option value="A">Approve</option>
                                <option value="D">Decline</option>
                            </select>
                        </div>
                        <div class="col-lg-4 text-right">
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</form>



<script>

    $(function () {
        $('.bootstrap-select').selectpicker();
        //$('#ProvinceName').selectpicker();

        // Set readonly fields
        @*@if (parameter.Id != null)
        {

        }*@

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            
        }
    });

</script>

}
else
{

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">@ParameterResources.NothingToApprove</h6>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
}