﻿@using UOB.SVS.Resources;

<div id="AccountMasterLookup" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupAccountMaster">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <select name="searchColumn" id="searchColumnLookupAccountMaster" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                            <option value="AccountNo">Account Number</option>
                                            <option value="CIFNo">CIF Number</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="searchValue" id="searchValueLookupAccountMaster" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-lg-2">
                                            <button type="button" id="filterButtonLookupAccountMaster" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-AccountMaster table-hover">
                        <thead class="bg-slate-800">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th> AccountNo </th>
                                <th> AccountName </th>
                                <th> AccountType </th>
                                <th> CIFNo </th>
                                <th> BranchCode </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="AccountMaster-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#searchColumnLookupAccountMaster').selectpicker();

        $('#filterButtonLookupAccountMaster').click(function () {
            $('.datatable-AccountMaster').DataTable().ajax.reload();
        });

        $('#formLookupAccountMaster').submit(function (e) {
            e.preventDefault();
            $('.datatable-AccountMaster').DataTable().ajax.reload();
        });

        // Basic datatable
        var generateLookupAccountMaster = null;
        var _url = "@Html.Treemas().Page.GetControllerUrl("AccountMasterLookup")" + "/NoAuthCheckSearch";

        $("#AccountMasterLookup").on('shown.bs.modal', function () {
            generateLookupAccountMaster = $('.datatable-AccountMaster').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: _url,
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('#formLookupAccountMaster').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupAccountMaster').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupAccountMaster').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "AccountNo",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<ul class="icons-list"><li><a href="#"  class="text-primary">select</a></li>' +
                            '</ul>';
                        }
                    }],
                columns:
                    [{
                        "name": "AccountNo",
                        "data": "AccountNo"
                    }, {
                        "name": "AccountNo",
                        "data": "AccountNo"
                    }, {
                        "name": "AccountName",
                        "data": "AccountName"
                    }, {
                        "name": "AccountType",
                        "data": "AccountType"
                    }, {
                        "name": "CIFNo",
                        "data": "CIFNo"
                    }, {
                        "name": "BranchCode",
                        "data": "BranchCode"
                    }
                    ],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                },
                select: true
            });

            generateLookupAccountMaster.on('select', function (e, dt, type, indexes) {
                var typeLookup = $('#typeLookup').val();
                if (type === 'row') {
                    var ids = $.map(generateLookupAccountMaster.rows(indexes).data(), function (item) {
                        generateLookupAccountMaster.rows(indexes).deselect();
                        $('#AccountMasterLookup').modal('hide');
                        setupLookupValueAccountMaster(item);
                    });
                }
            });
        });


        $("#AccountMasterLookup").on('hidden.bs.modal', function () {
            generateLookupAccountMaster.destroy();
        });

    });


</script>
