﻿@using UOB.SVS.Resources;

<div id="SVSLookupInquiry" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupSVS">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <select name="searchColumn" id="searchColumnLookupSVS" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                            <option value="AccountNo">Account Number</option>
                                            <option value="CIFNumber">CIF Number</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="searchValue" id="searchValueLookupSVS" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-lg-2">
                                            <button type="button" id="filterButtonLookupSVS" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-SVS table-hover">
                        <thead class="bg-slate-800">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th>Account No</th>
                                <th>Account Type</th>
                                <th>Account Name</th>
                                <th>CIF Number</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="SVS-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#searchColumnLookupSVS').selectpicker();

        $('#filterButtonLookupSVS').click(function () {
            $('.datatable-SVS').DataTable().ajax.reload();
        });

        $('#formLookupSVS').submit(function (e) {
            e.preventDefault();
            $('.datatable-SVS').DataTable().ajax.reload();
        });

        // Basic datatable
        var generateLookupSVS = null;
        var _url = "@Html.Treemas().Page.GetControllerUrl("SVSLookup")" + "/NoAuthCheckSearchInquiry";

        $("#SVSLookupInquiry").on('shown.bs.modal', function () {
            generateLookupSVS = $('.datatable-SVS').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: _url,
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('#formLookupSVS').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupSVS').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupSVS').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "AccountNo",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<ul class="icons-list"><li><a href="#"  class="text-primary">select</a></li>' +
                            '</ul>';
                        }
                    }],
                columns:
                    [{
                        "name": "AccountNo",
                        "data": "AccountNo"
                    }, {
                        "name": "AccountNo",
                        "data": "AccountNo"
                    }, {
                        "name": "AccountType",
                        "data": "AccountType"
                    }, {
                        "name": "AccountName",
                        "data": "AccountName"
                    }, {
                        "name": "CIFNumber",
                        "data": "CIFNumber"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                },
                select: true
            });

            generateLookupSVS.on('select', function (e, dt, type, indexes) {
                var typeLookup = $('#typeLookup').val();
                if (type === 'row') {
                    var ids = $.map(generateLookupSVS.rows(indexes).data(), function (item) {
                        generateLookupSVS.rows(indexes).deselect();
                        $('#SVSLookupInquiry').modal('hide');
                        setupLookupValueSVS(item);
                    });
                }
            });
        });


        $("#SVSLookupInquiry").on('hidden.bs.modal', function () {
            generateLookupSVS.destroy();
        });

    });


</script>
