﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@model UOB.SVS.Models.SignatureHView
@{
    string ActionName = "Inquiry";
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> branchList = (IEnumerable<SelectListItem>)ViewData["BranchMaster"];
    IEnumerable<SelectListItem> docTypeList = (IEnumerable<SelectListItem>)ViewData["DocTypeMaster"];
    IEnumerable<SelectListItem> accTypeList = (IEnumerable<SelectListItem>)ViewData["AccTypeList"];
}
@Html.AntiForgeryToken()
<form class="form-horizontal form-validate" enctype="multipart/form-data" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.AccNo</label>
                            <div class="col-lg-6">
                                @Html.TextBox("AccountNo", Model.AccountNo, new { @id = "AccountNo", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly="readonly"})
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.AccName</label>
                            <div class="col-lg-7">
                                @Html.TextBox("AccountName", Model.AccountName, new { @id = "AccountName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.BranchCode</label>
                            <div class="col-lg-6">
                                @Html.DropDownList("BranchCode", branchList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.CIFNumber</label>
                            <div class="col-lg-6">
                                @Html.TextBox("CIFNumber", null, new { @id = "CIFNumber", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.AccType</label>
                            <div class="col-lg-7">
                                @Html.DropDownList("AccountType", accTypeList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@SvsResources.Note</label>
                            <div class="col-lg-7">
                                @Html.TextArea("Note", null, 2, 5, new { @id = "Note", @required = "required", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <br /><br />
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#idcard">ID Cards</a></li>
                <li><a data-toggle="tab" href="#signatures">Signatures</a></li>
                <li><a data-toggle="tab" href="#documents">Documents</a></li>
            </ul>
            <div class="tab-content">
                <div id="idcard" class="tab-pane fade in active">
                    <div class="panel panel-flat panel-table">
                        <table class="table datatable-idcard table-hover" id="datatable-idcard" width="100%">
                            <thead class="bg-teal-400">
                                <tr>
                                    <th>Image</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id="signatures" class="tab-pane fade">
                    <div class="panel panel-flat panel-table">
                        <table class="table datatable-sign table-hover" id="datatable-sign" width="100%">
                            <thead class="bg-teal-400">
                                <tr>
                                    <th>Image</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id="documents" class="tab-pane fade">
                    <div class="panel panel-flat panel-table">
                        <table class="table datatable-document table-hover" id="datatable-document" width="100%">
                            <thead class="bg-teal-400">
                                <tr>
                                    <th>Document</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-control-panel text-right">
                <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")
@Html.Partial("~/Views/Lookup/ImageEditor.cshtml")
@Html.Partial("~/Views/Lookup/FileUploader.cshtml", Model, ViewData)

<script>
    var modalSwitcher = '';
    var IdentityCards = @Html.Raw(Json.Encode(Model.IdentityCards)) || [];
    var Signatures = @Html.Raw(Json.Encode(Model.Signatures)) || [];
    var Documents = @Html.Raw(Json.Encode(Model.Documents)) || [];
    var docTypes = @Html.Raw(Json.Encode(docTypeList));

    //Startup (OnLoad)
    $(function () {
        $('#BranchCode').selectpicker();
        $('#AccountType').selectpicker();

        $('button[data-toggle=modal], button[data-toggle=modal]').click(function () {
            if ($(this).data('id') !== 'undefined') {
                modalSwitcher = $(this).data('id');
            }
        })

        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        });
    });
    //end

    function setupImageEditor(data) {
        if (modalSwitcher === 'Signatures') {
            data.Index = Signatures.length + 1;
            Signatures.push(data);
            signTable.row.add(data).draw();
        } else if (modalSwitcher === 'IdentityCards') {
            data.Index = IdentityCards.length + 1;
            IdentityCards.push(data);
            idcardTable.row.add(data).draw();
        }
    }
    function setupFileUploader(data) {
        data.Index = Documents.length + 1;
        Documents.push(data);
        documentTable.row.add(data).draw();
        console.log(Documents);
    }

    var idcardTable = $('.datatable-idcard').DataTable({
        data: IdentityCards,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "CroppedBlob",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<img src="'+full.ImageType+full.CroppedBlob+'" class="text-slate-700" />';
                }
            },
        ],
        columns:
        [{
            "name": "Image",
            "data": "CroppedBlob"
        }],
    });

    var signTable = $('.datatable-sign').DataTable({
        data: Signatures,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "CroppedBlob",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<img src="' + full.ImageType + full.CroppedBlob + '" class="text-slate-700" />';
                }
            },
        ],
        columns:
        [{
            "name": "Image",
            "data": "CroppedBlob"
        }],
    });

    var documentTable = $('.datatable-document').DataTable({
        data: Documents,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "FileBlob",
                render: function (data, type, full, meta) {

                    var link = document.createElement('a');
                    var img = document.createElement('img');
                    var downloadFileName = '';
                    const binaryString = window.atob(full.FileBlob);
                    const len = binaryString.length;
                    const bytes = new Uint8Array(len);
                    for (let i = 0; i < len; ++i) {
                        bytes[i] = binaryString.charCodeAt(i);
                    }

                    var filetype;
                    var imgsrc = '';
                    if (full.FileType === 'data:application/pdf;base64,') {
                        filetype = 'application/pdf';
                        imgsrc = '/Content/images/pdf-icon.png';
                        downloadFileName = full.Index + ".pdf";
                    } else if (full.FileType === 'data:image/tiff;base64,') {
                        filetype = 'imagae/tiff';
                        imgsrc = '/Content/images/tiff-icon.png';
                        downloadFileName = full.Index + ".tiff";
                    }

                    var filedoc = new Blob([bytes], { type: filetype });

                    var doctype = docTypes.filter(function (ele) { return ele.Value === full.DocumentType; })[0];
                    var doctypetext = document.createElement('span');
                    if (doctype !== null) {
                        doctypetext.textContent = doctype.Text;
                    } else {
                        doctypetext.textContent = full.DocumentType;
                    }

                    link.href = URL.createObjectURL(filedoc);
                    link.download = downloadFileName;
                    link.target = "_blank";

                    img.src = imgsrc;
                    img.width = 48;
                    img.height = 48;
                    link.appendChild(img);
                    link.appendChild(doctypetext);
                    console.log(link);
                    return link.outerHTML;
                }
            },
        ],
        columns:
        [{
            "name": "Document",
            "data": "FileBlob"
        }],
    });

    function deleteIdCard(id) {
        var idx = id - 1;
        IdentityCards = arrayRemove(IdentityCards, id);
        idcardTable.rows(idx).remove().draw();
    }

    function deleteSignature(id) {
        var idx = id - 1;
        Signatures = arrayRemove(Signatures, id);
        signTable.rows(idx).remove().draw();
    }

    function deleteDocument(id) {
        var idx = id - 1;
        Documents = arrayRemove(Documents, id);
        documentTable.rows(idx).remove().draw();
    }

    function arrayRemove(arr, value) {
        return arr.filter(function (ele) { return ele.Index != value; });
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AccountNo: {
                number: true
            },
            Name: {
                maxlength: 100
            },
            Description: {
                maxlength: 200
            }
        }
    });



</script>