﻿@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> ApprovalTypeList = (IEnumerable<SelectListItem>)ViewData["ApprovalTypeList"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="Username">User ID</option>
                                    <option value="AuthorizedRoleIdsNew">Role</option>
                                    <option value="ApprovalType">Approval Type</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <div id="searchValuetext">
                                    <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                </div>
                                <div id="searchValueselect">
                                    @Html.DropDownList("ApprovalType", ApprovalTypeList, new { @id = "ApprovalType", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>User ID</th>
                        <th>Role</th>
                        <th>Approval Type</th>
                        <th>Maker User</th>
                        <th>Maker Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $('#searchColumn').change(function () {
        SetSearchType();
    });

    $('#ApprovalType').change(function () {
        $('#searchValue').val($('#ApprovalType').val());
    });

    function SetSearchType() {
        if ($('#searchColumn').val() != "ApprovalType") {
            $('#searchValueselect').hide();
            $('#searchValuetext').show();
            $('#searchValue').val('');
        }
        else {
            $('#searchValueselect').show();
            $('#searchValuetext').hide();
            $('#searchValue').val('');
        }
    }

    $(function () {
        SetSearchType();
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search?Mode=deletion")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "Id",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Approve")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
                
            ],
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "Username",
                    "data": "Username"
                }, {
                    "name": "RolesNew",
                    "data": "RolesNew"
                }, {
                    "name": "ApprovalType",
                    "data": "ApprovalType"
                }, {
                    "name": "ChangedBy",
                    "data": "ChangedBy"
                }, {
                    "name": "ChangedDate",
                    "data": "ChangedDate"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>
