﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.SvsView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.AccNo <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.TextBox("ACCOUNT_NUMBER", Model.ACCOUNT_NUMBER, new { @id = "ACCOUNT_NUMBER", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.CustName<span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.TextBox("CUSTOMER_NAME", Model.CUSTOMER_NAME, new { @id = "CUSTOMER_NAME", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = true })
                            </div>
                        </div>

                    </fieldset>                  


                </div>

                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label input-xs">@SvsResources.Note </label>
                            <div class="col-lg-12">
                                @Html.TextArea("NOTE", Model.NOTE, 5, 5, new { @id = "NOTE", @autocomplete = "off", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>

                    <div style="height:400px; width:400px; overflow:auto;">
                        <img id="displayImage" src="@ViewBag.Base64String" alt="Image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            FunctionId: {
                maxlength: 50
            },
            Name: {
                maxlength: 100
            },
            Description: {
                maxlength: 200
            }
        }
    });

</script>