﻿@{
    ViewBag.SubTitle = " - Index";
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <a onclick="Export()" class="btn btn-primary btn-xs">@BaseResources.Export <i class="icon-file-excel position-right"></i></a>
                        <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="Username" selected="selected">User ID</option>
                                    <option value="FullName">Full Name</option>
                                    @*<option value="PasswordExpirationDate">Password Expired Date</option>*@
                                    @*<option value="AccountValidityDate">Account Validity Date</option>*@
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" minlength="3" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>User ID</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th>Branch</th>
                        <th>Created Date</th>
                        <th>Active</th>
                        @*<th>Account Validity Date</th>*@
                        @*<th>Application</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    @*function Print(Id){
        var win = window.open("@Html.Treemas().Page.GetActionUrl("Print?id=")" + Id, "_blank");
        win.document.write = ('<html><head><title>Password Print</title></head></html>');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please allow popups for this website');
        }
    }*@

    function Export() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Export")");

        var FunctionName = document.createElement("input");
        FunctionName.setAttribute("type", "hidden");
        FunctionName.setAttribute("name", "searchColumn");
        FunctionName.setAttribute("value", $("#searchColumn").val());
        form.appendChild(FunctionName);

        var ObjectName = document.createElement("input");
        ObjectName.setAttribute("type", "hidden");
        ObjectName.setAttribute("name", "searchValue");
        ObjectName.setAttribute("value", $("#searchValue").val());
        form.appendChild(ObjectName);

        document.body.appendChild(form);
        form.submit();
    }

    $(document).ready(function () {
        $("#searchColumn").val("Username");
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            var searchValue = $("#searchValue").val();
            if (!(searchValue.length > 0 && searchValue.length < 3)) {
                $('.datatable-basic').DataTable().ajax.reload();
            }
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '100px',
                    targets: [0],
                    data: "Id",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        @*if (full.IsActive == true && full.IsPrinted == false) {
                            return '<ul class="icons-list"><li><a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a></li>'+
                                '<li><href="" onclick="javascript: Print('+data+')" ><i class="icon-printer"></i></a></li></ul>';
                        } else*@ console.log(full);
                        if (full.IsActive == false && full.Approved == true) {
                            return '<ul class="icons-list"><li><a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a></li>' +
                               '<li><a href="@Html.Treemas().Page.GetActionUrl("Activate")/' + data + '" class="text-slate-700"><i class="icon-user-check"></i></a></li></ul>';
                        } else {
                            return '<ul class="icons-list"><li><a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a></li>'
                        }

                    }
                },
                {
                    orderable: true,
                    width: '80px',
                    targets: [6],
                    data: "IsActive",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (data == true)
                            return '<i class="text-success icon-checkmark2"></i>';
                        else
                            return '<i class="text-danger icon-cross3"></i>';
                    }
                }, {
                    targets: [3],
                    orderable: false
                }
                @*,
                {
                    orderable: false,
                    width: '80px',
                    targets: [6],
                    data: "Username",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetControllerUrl("UserApplication")/' + data + '" class="text-primary">Application</a>';
                    }
                }*@
            ],
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "Username",
                    "data": "Username"
                }, {
                    "name": "FullName",
                    "data": "FullName"
                }, {
                    "name": "Roles",
                    "data": "Roles"
                }, {
                    "name": "BranchCode",
                    "data": "BranchCode"
                }, {
                    "name": "CreatedDate",
                    "data": "CreatedDate"
                }, {
                    "name": "IsActive",
                    "data": "IsActive"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

</script>
