﻿
@{
    Layout = null;
    ViewBag.Title = "Login";
    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Treemas().Application.Name</title>

    <!-- Global stylesheets -->
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/app.js"></script>
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
    <!-- /theme JS files -->

</head>
<body class="login-container">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo_light_white.png" alt=""></a>
        </div>
    </div>
    <!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content pb-20">
                    <!-- login form -->
                    <form action="@Html.Treemas().Page.LoginUrl/Login" method="post">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>
                                <h5 class="content-group-lg">@BaseResources.LoginToYourAccount <small class="display-block">@BaseResources.EnterYourCredentials</small></h5>
                            </div>
                            @if (_ScreenMessages != null)
                            {
                                foreach (ScreenMessage message in _ScreenMessages)
                                {
                                    <div class="alert alert-@message.Skin no-border text-center">
                                        @message.Text
                                    </div>
                                }
                            }
                            <div class="form-group has-feedback has-feedback-left">
                                <input class="form-control" placeholder="@BaseResources.Username" name="username" type="text" id="txtusername" autofocus >
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <input class="form-control" placeholder="@BaseResources.Password" name="password" type="password" id="txtpassword" value="" >
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block" >@BaseResources.Login <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    </form>

                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        @*&copy; 2017. <a href="#">@Html.Treemas().Application.OwnerName</a>*@
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script type="text/javascript">

        function Callajaxlogin() {
            $.ajax({
                method: "post",
                url: "@Html.Treemas().Page.AjaxLoginActionUrl",
                data: {
                    username: $("#txtusername").val(),
                    password: $("#txtpassword").val()
                },
                beforeSend: function () {
                    // do something before login
                },
                success: function (data) {
                    if (data == 'InvalidUserOrPassword') {
                        alert('@BaseResources.InvalidUserOrPassword');
                    } else if (data == 'InactiveUser') {
                        alert('@BaseResources.InactiveUser');
                    } else if (data == 'PasswordExpired') {
                        alert('@BaseResources.PasswordExpired');
                    } else if (data == 'true') {
                        window.location.href = "@Html.Treemas().Page.HomeUrl";
                    }
                },
                error: function (data) {
                    alert('@BaseResources.UnknownError');
                }
            });
        }


    </script>
</body>
</html>
