﻿@using Treemas.Credential.Model;
@using Treemas.Base.Utilities;
@using UOB.SVS.Resources;

@{
    ViewBag.SubTitle = " - Index";
    RoleFunctionCr rolefuncCr = (RoleFunctionCr)ViewData["RoleFunctionCr"];
    RoleFunction rolefunc = (RoleFunction)ViewData["RoleFunction"];
    AuthorizationFunction func = (AuthorizationFunction)ViewData["Function"];
    Role role = (Role)ViewData["Role"];

    long ID = rolefunc.IsNull() ? rolefuncCr.Id : rolefunc.Id;
    long RoleID = rolefunc.IsNull() ? rolefuncCr.RoleId : rolefunc.RoleId;
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <label class="col-lg-2 control-label">Role ID</label>
                    <div class="col-lg-6">
                        <label class="col-lg-6 control-label">@role.RoleId</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-lg-2 control-label">Function</label>
                    <div class="col-lg-6">
                        <label class="col-lg-6 control-label">@func.Name</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-xs btn-primary" onclick="Submit()">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                    <a href="@Html.Treemas().Page.GetControllerUrl("RoleFunction")/@RoleID" class="btn btn-xs btn-default"> Back</a>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <input name="searchColumn" id="searchColumn" type="hidden" value="Name">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th></th>
                        <th>Feature Name</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<script>

    var Roletable = null;

    function Submit() {
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("Create")",
            data: { RoleID: $('#RoleID').val() }
        }).done(function (msg) {
            console.log(msg.message);
            if (msg.message.toString() == "@RoleResources.Validation_Success") {

                alert(msg.message.toString() + " and waiting for approval");
                var url = "@Html.Treemas().Page.GetControllerUrl("RoleFunction")/";
                window.location.href = url;
            }
            else {
                alert(msg);
            }
        });
    }

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        Roletable = $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            createdRow: function (row, data, index) {
                if (data.selected == 1) {
                    $(row).addClass('selected');
                    var ctx = Roletable.settings()[0];
                    ctx.aoData[index]._select_selected = true;
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [0],
                    width: '80px',
                    data: "selected",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (full.selected == true)
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.FeatureId + '" checked />'
                        else
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.FeatureId + '" />'

                    }
                }],
            select: { style: 'multi', selector: 'td:first-child input' },
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "FeatureId",
                    "data": "Name"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    function SetSelected(item, index) {
        var ctx = Roletable.settings()[0];
        var checked = !ctx.aoData[index]._select_selected;
        //var url = "@Html.Treemas().Page.GetControllerUrl("RoleFunctionFeature")/";
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("CreateTemp")",
            data: { selected: checked, FeatureId: $(item).val() },
            success: function (data) {
                //addnewLink(data, index);
            },
        });
    }

    function addnewLink(data, index) {
        var ctx = Roletable.settings()[0];
        ctx.aoData[index]._aData.Id = data.Id;
        Roletable.draw(false);
    }

</script>