﻿@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> ActionList = (IEnumerable<SelectListItem>)ViewData["ActionList"];

}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action Date From</label>
                        <div class="col-lg-3">
                            <input name="ActionDateStart" id="ActionDateStart" type="text" class="form-control input-xs" />
                        </div>
                        <div class="col-lg-1 control-label">To</div>
                        <div class="col-lg-3">
                            <input name="ActionDateEnd" id="ActionDateEnd" type="text" class="form-control input-xs" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@BaseResources.Actions</label>
                        <div class="col-lg-5">
                            <input name="ActionName" id="ActionName" type="text" class="form-control input-xs" placeholder="Action Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Function Name</label>
                        <div class="col-lg-5">
                            <input name="FunctionName" id="FunctionName" type="text" class="form-control input-xs" placeholder="Function Name">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Object Name</label>
                        <div class="col-lg-5">
                            <input name="ObjectName" id="ObjectName" type="text" class="form-control input-xs" placeholder="Object Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-control-panel text-left">
                        <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                        <button type="button" id="ExportButton" onclick="javascript: Export();" class="btn btn-primary btn-xs">@BaseResources.Export <i class="icon-filter4 position-right"></i></button>

                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th>Function Name</th>
                        <th>Object Name</th>
                        <th>Action Type</th>
                        <th>Action By</th>
                        <th>Action Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#searchColumn").val("Username");
    });

    $('#ActionDateStart').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#ActionDateStart').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#ActionDateEnd').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#ActionDateEnd').val(chosen_date.format('DD/MM/YYYY'));
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,

            columns:
                [{
                    "name": "FunctionName",
                    "data": "FunctionName"
                }, {
                    "name": "ObjectName",
                    "data": "ObjectName"
                }, {
                    "name": "Action",
                    "data": "Action"
                }, {
                    "name": "ActionBy",
                    "data": "ActionBy"
                }, {
                    "name": "ActionDateTime",
                    "data": "ActionDateTime"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    function Export() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Export")");

        var FunctionName = document.createElement("input");
        FunctionName.setAttribute("type", "hidden");
        FunctionName.setAttribute("name", "FunctionName");
        FunctionName.setAttribute("value", $("#FunctionName").val());
        form.appendChild(FunctionName);

        var ObjectName = document.createElement("input");
        ObjectName.setAttribute("type", "hidden");
        ObjectName.setAttribute("name", "ObjectName");
        ObjectName.setAttribute("value", $("#ObjectName").val());
        form.appendChild(ObjectName);

        var ActionName = document.createElement("input");
        ActionName.setAttribute("type", "hidden");
        ActionName.setAttribute("name", "ActionName");
        ActionName.setAttribute("value", $("#ActionName").val());
        form.appendChild(ActionName);

        var ActionDateStart = document.createElement("input");
        ActionDateStart.setAttribute("type", "hidden");
        ActionDateStart.setAttribute("name", "ActionDateTimeStart");
        ActionDateStart.setAttribute("value", $("#ActionDateStart").val());
        form.appendChild(ActionDateStart);

        var ActionDateEnd = document.createElement("input");
        ActionDateEnd.setAttribute("type", "hidden");
        ActionDateEnd.setAttribute("name", "ActionDateTimeEnd");
        ActionDateEnd.setAttribute("value", $("#ActionDateEnd").val());
        form.appendChild(ActionDateEnd);

        document.body.appendChild(form);
        form.submit();
    };



</script>
