﻿@using UOB.SVS.Resources;


@{
    Layout = null;
    ViewBag.Title = "Create Super User";
    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;

    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Treemas().Application.Name</title>

    <!-- Global stylesheets -->
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/app.js"></script>
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
    <!-- /theme JS files -->

</head>
<body class="login-container">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo_light_white.png" alt=""></a>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content pb-20">
                    <!-- login form -->
                    <form action="@Html.Treemas().Page.GetActionUrl(ActionName)" method="post">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>
                                <h5 class="content-group-lg">Create Super User  <small class="display-block">Password for Admin</small></h5>
                            </div>
                            @if (_ScreenMessages != null)
                            {
                                foreach (ScreenMessage message in _ScreenMessages)
                                {
                                    <div class="alert alert-@message.Skin no-border text-center">
                                        @message.Text
                                    </div>
                                }
                            }
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.Password("Password", null, new { @id = "Password", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8", @placeholder = "Password" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.Password("ConfirmPassword", null, new { @id = "ConfirmPassword", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8", @placeholder = "Confirm Password" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">@BaseResources.Create <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    </form>

                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        @*&copy; 2017. <a href="#">@Html.Treemas().Application.OwnerName</a>*@
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script type="text/javascript">

        jQuery.validator.addMethod("password", function (value, element) {
            // allow any non-whitespace characters as the host part
            return this.optional(element) || /^(?!.*[\s])(?=.*[0-9])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[0-9])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}/.test(value);
        }, 'Password must be alphabet with at least 1 numeric or 1 special characther ');

        // ini untuk custom validator
        var validator = $(".form-validate").validate({
            ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
            errorClass: 'validation-error-label',
            successClass: 'validation-valid-label',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },

            // Different components require proper error label placement
            errorPlacement: function (error, element) {

                // Styled checkboxes, radios, bootstrap switch
                if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                    if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                        error.appendTo(element.parent().parent().parent().parent());
                    }
                    else {
                        error.appendTo(element.parent().parent().parent().parent().parent());
                    }
                }

                    // Input with icons and Select2
                else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                    error.appendTo(element.parent());
                }

                else {
                    error.insertAfter(element);
                }
            },
            validClass: "validation-valid-label",
            success: false,
            rules: {
                Password: {
                    password: true,
                    minlength: 8
                },
                ConfirmPassword:
                {
                    equalTo: "#Password",
                    minlength: 8
                },
            }
        });

    </script>
</body>
</html>