﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;
@model UOB.SVS.Models.SignatureHReqView
@{
    string ActionName = "Approve";
    ViewBag.SubTitle = " - " + ActionName;
    SignatureHReqView svsData = (SignatureHReqView)ViewData["SVSData"];
    IEnumerable<SelectListItem> docTypeList = (IEnumerable<SelectListItem>)ViewData["DocTypeMaster"];

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var DocumentsModel = serializer.Serialize(Model.Documents);
    var IdentityCardsModel = serializer.Serialize(Model.IdentityCards);
    var SignaturesModel = serializer.Serialize(Model.Signatures);
    User user = (User)ViewData["UserData"];
    User userReq = (User)ViewData["UserReq"];

}
@Html.AntiForgeryToken()
<form id="formApprove" class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
        @Html.Hidden("AccountNo", Model.AccountNo)
        @Html.Hidden("RequestDate", Model.RequestDate)
    <div class="panel panel-body" style="min-height: 83vh;">
        <div class="row">
            <div class="col-md-5">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">@SvsResources.AccNo </label>
                        <div class="col-lg-9">
                            @Html.TextBox("AccountNo", null, new { @id = "AccountNo", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs", maxlength = 20 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">@SvsResources.AccName </label>
                        <div class="col-lg-9">
                            @Html.TextBox("AccountName", null, new { @id = "AccountName", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs", maxlength = 80 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">@SvsResources.BranchCode </label>
                        <div class="col-lg-9">
                            @Html.TextBox("BranchCode", null, new { @id = "BranchCode", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs", maxlength = 80 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">@SvsResources.CIFNumber </label>
                        <div class="col-lg-9">
                            @Html.TextBox("CIFNumber", null, new { @id = "CIFNumber", @required = "required", @readonly = "readonly", @autocomplete = "off", @class = "form-control input-xs", maxlength = 30 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">@SvsResources.AccType </label>
                        <div class="col-lg-9">
                            @Html.TextBox("AccountType", null, new { @id = "AccountType", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs", maxlength = 80 })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@SvsResources.Note </label>
                        <div class="col-lg-9">
                            @Html.TextArea("Note", null, 2, 5, new { @id = "Note", @readonly = "readonly", @autocomplete = "off", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">@SvsResources.RequestType </label>
                        <div class="col-lg-7">
                            <span class="label border-left-primary label-striped">@Model.RequestTypeString</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br /><br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#idcard">ID Cards</a></li>
            <li><a data-toggle="tab" href="#signatures">Signatures</a></li>
            <li><a data-toggle="tab" href="#documents">Documents</a></li>
        </ul>
        <div class="tab-content">
            <div id="idcard" class="tab-pane fade in active">
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-idcard table-hover" id="datatable-idcard" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Image</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="signatures" class="tab-pane fade">
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-sign table-hover" id="datatable-sign" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Image</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="documents" class="tab-pane fade">
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-document table-hover" id="datatable-document" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Document</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-control-panel text-right">
            @{
                //if (user.BranchCode == userReq.BranchCode)
                    <button type="submit" class="btn btn-xs btn-primary">Approve <i class="icon-checkmark3 position-right"></i></button>
                    @*<button type="submit" class="btn btn-xs btn-warning" value="Reject" name="action:Reject">Reject <i class="icon-cross2 position-right"></i></button>*@
                    <a href="@Html.Treemas().Page.GetActionUrl("Reject")/@svsData.AccountNo" class="btn btn-xs btn-danger">Reject </a>
                    
            }
            
            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>
    var modalSwitcher = '';
    var IdentityCards = @Html.Raw(IdentityCardsModel) || [];
    var Signatures = @Html.Raw(SignaturesModel) || [];
    var Documents = @Html.Raw(DocumentsModel) || [];
    var docTypes = @Html.Raw(Json.Encode(docTypeList));

    //Startup (OnLoad)
    $(function () {
        $('#BranchCode').selectpicker();
        $('#AccountType').selectpicker();

        $('button[data-toggle=modal], button[data-toggle=modal]').click(function () {
            if ($(this).data('id') !== 'undefined') {
                modalSwitcher = $(this).data('id');
            }
        })

        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        });
    });
    //end

    function setupImageEditor(data) {
        if (modalSwitcher === 'Signatures') {
            data.Index = Signatures.length + 1;
            Signatures.push(data);
            signTable.row.add(data).draw();
        } else if (modalSwitcher === 'IdentityCards') {
            data.Index = IdentityCards.length + 1;
            IdentityCards.push(data);
            idcardTable.row.add(data).draw();
        }
    }
    function setupFileUploader(data) {
        data.Index = Documents.length + 1;
        Documents.push(data);
        documentTable.row.add(data).draw();
        console.log(Documents);
    }

    var idcardTable = $('.datatable-idcard').DataTable({
        data: IdentityCards,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "CroppedBlob",
                className: "text-left",
                render: function (data, type, full, meta) {
                    return '<img src="'+full.ImageType+full.CroppedBlob+'" class="text-slate-700" />';
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
        ],
        columns:
        [{
            "name": "Image",
            "data": "CroppedBlob"
        }],
    });

    var signTable = $('.datatable-sign').DataTable({
        data: Signatures,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "CroppedBlob",
                className: "text-left",
                render: function (data, type, full, meta) {
                    return '<img src="' + full.ImageType + full.CroppedBlob + '" class="text-slate-700" />';
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
        ],
        columns:
        [{
            "name": "Image",
            "data": "CroppedBlob"
        }],
    });

    var documentTable = $('.datatable-document').DataTable({
        data: Documents,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "FileBlob",
                render: function (data, type, full, meta) {

                    var link = document.createElement('a');
                    var img = document.createElement('img');
                    var downloadFileName = '';
                    const binaryString = window.atob(full.FileBlob);
                    const len = binaryString.length;
                    const bytes = new Uint8Array(len);
                    for (let i = 0; i < len; ++i) {
                        bytes[i] = binaryString.charCodeAt(i);
                    }

                    var filetype;
                    var imgsrc = '';
                    if (full.FileType === 'data:application/pdf;base64,') {
                        filetype = 'application/pdf';
                        imgsrc = '/Content/images/pdf-icon.png';
                        downloadFileName = full.DocumentType + ".pdf";
                    } else if (full.FileType === 'data:image/tiff;base64,') {
                        filetype = 'imagae/tiff';
                        imgsrc = '/Content/images/tiff-icon.png';
                        downloadFileName = full.DocumentType + ".tiff";
                    }

                    var filedoc = new Blob([bytes], { type: filetype });

                    var doctype = docTypes.filter(function (ele) { return ele.Value === full.DocumentType; })[0];
                    var doctypetext = document.createElement('span');
                    if (doctype !== null) {
                        doctypetext.textContent = doctype.Text;
                    } else {
                        doctypetext.textContent = full.DocumentType;
                    }

                    link.href = URL.createObjectURL(filedoc);
                    link.download = downloadFileName;
                    link.target = "_blank";

                    img.src = imgsrc;
                    img.width = 48;
                    img.height = 48;
                    link.appendChild(img);
                    link.appendChild(doctypetext);
                    console.log(link);
                    return link.outerHTML;
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
        ],
        columns:
        [{
            "name": "Document",
            "data": "FileBlob"
        }],
    });

    function deleteIdCard(id) {
        var idx = id - 1;
        IdentityCards = arrayRemove(IdentityCards, id);
        idcardTable.rows(idx).remove().draw();
    }

    function deleteSignature(id) {
        var idx = id - 1;
        Signatures = arrayRemove(Signatures, id);
        signTable.rows(idx).remove().draw();
    }

    function deleteDocument(id) {
        var idx = id - 1;
        Documents = arrayRemove(Documents, id);
        documentTable.rows(idx).remove().draw();
    }

    function arrayRemove(arr, value) {
        return arr.filter(function (ele) { return ele.Index != value; });
    }

    //ini buat yang submit create, edit mungkin pakai ini
    @*$('form').submit(function (e) {
        e.preventDefault();
        var frmAction = this.action;
        var data = new Object();

        data.Id = $('#Id').val();
        data.AccountNo = $('#AccountNo').val();
        data.AccountName = $('#AccountName').val();
        data.AccountType = $('#AccountType').val();
        data.CIFNumber = $('#CIFNumber').val();
        data.BranchCode = $('#BranchCode').val();
        data.Note = $('#Note').val();
        data.Signatures = Signatures;
        data.IdentityCards = IdentityCards;
        data.Documents = Documents;

        $.ajax({
            type: "POST",
            url: frmAction,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.returnCode == 'OK')
                    location.href = '@Html.Treemas().Page.GetActionUrl("Index")';
                else
                    alert(response.message);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });*@



    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AccountNo: {
                number: true
            },
            Name: {
                maxlength: 100
            },
            Description: {
                maxlength: 200
            }
        }
    });



</script>