﻿@using Treemas.Credential.Model;

@{
    ViewBag.SubTitle = " - Index";
    Role role = (Role)ViewData["Role"];
}
@Html.Hidden("idmaster", role.Id)
<div class="panel panel-flat">
    <div class="panel-body no-padding-bottom">
        <div class="row">
            <div class="col-md-6 col-lg-9 content-group">
                <ul class="list-condensed list-unstyled">
                    <li><h5>@role.Id - @role.Name</h5></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <a href="@Html.Treemas().Page.GetControllerUrl("RoleDoctType")" class="btn btn-xs btn-default"> Back</a>
                        <button type="submit" class="btn btn-xs btn-primary" onclick="Submit()">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>

                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <input name="searchColumn" id="searchColumn" type="hidden" value="DocType">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th></th>
                        <th>Document Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<script>

    var Roletable = null;

    $(function () {

        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        Roletable = $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray(); console.log($('form').serializeArray());
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            createdRow: function (row, data, index) {
                if (data.selected == 1) {
                    $(row).addClass('selected');
                    var ctx = Roletable.settings()[0];
                    ctx.aoData[index]._select_selected = true;
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [0],
                    width: '80px',
                    data: "selected",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (full.selected == true)
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.FunctionId + '" checked />'
                        else
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.FunctionId + '" />'

                    }
                }@*,
            {
                orderable: false,
                width: '100px',
                targets: [2],
                data: "Id",
                className: "text-center",
                render: function (data, type, full, meta) {
                    if (full.selected == true)
                        return '<a href="@Html.Treemas().Page.GetControllerUrl("RoleFunctionFeature")/' + data + '" class="text-primary">Feature</a>';
                    else
                        return ' ';
                }

            }*@],
            select: { style: 'multi', selector: 'td:first-child input' },
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "DocType",
                    "data": "DocType"
                }, {
                    "name": "Description",
                    "data": "Description"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });



    });

    function SetSelected(item, index) {
        @*var ctx = Roletable.settings()[0];
        var checked = !ctx.aoData[index]._select_selected;
        var url = "@Html.Treemas().Page.GetControllerUrl("RoleFunctionFeature")/";
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("Create")",
            data: { selected: checked, FunctionId: $(item).val() },
            success: function (data) {
                addnewLink(data, index);
            },
    });*@
    }

    //function addnewLink(data, index) {
    //    var ctx = Roletable.settings()[0];
    //    ctx.aoData[index]._aData.Id = data.Id;
    //    Roletable.draw(false);
    //}
    function Submit() {
        var userName = $('#idmaster').val();
        var apps = "";

        var data = Roletable.rows().data();
        data.each(function (value, index) {
            if (Roletable.settings()[0].aoData[index]._select_selected) {
                apps += value.Id + " ,";
            }
        });
        //apps = apps.toString().substring(0, apps.length - 1).trim();
        apps = apps.toString().substring(0, apps.length - 1).trim();
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("Edit")"
            , data: { userName: userName, apps: apps }
    }).done(function (msg) {
        if (msg.toString() == "application has been saved") {
            console.log(msg);
            alert(msg);
            var url = '@Url.Action("Index", "RoleDoctType")';
            window.location.href = url;
        }
        else {
            alert(msg);
        }
    });
    }

</script>