<li><a href="#" ><i class="icon-user"></i> <span>Signature</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CreateSVS")"><span>Create</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UpdateSVS")"><span>Update</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CopySVS")"><span>Copy</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("InquirySVS")"><span>Inquiry</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("DeleteSVS")"><span>Delete</span></a></li>
</ul></li>
