<li><a href="#" ><i class="icon-user"></i> <span>Signature</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CreateSVS")"><span>Create</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UpdateSVS")"><span>Update</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CopySVS")"><span>Copy</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("InquirySVS")"><span>Inquiry</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("DeleteSVS")"><span>Delete</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-feed"></i> <span>Application Settings</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Application")"><span>Application</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Function")"><span>Function</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Feature")"><span>Feature</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Role")"><span>Role</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Menu")"><span>Menu</span></a></li>
</ul></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Parameter")"><i class="icon-hammer-wrench"></i> <span>Settings</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("DownloadLog")"><i class="icon-download"></i> <span>Download Log</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("User")"><i class="icon-user"></i> <span>User Management</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UserApproval")"><i class="icon-user-check"></i> <span>User Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterApproval")"><i class="icon-file-check2"></i> <span>Settings Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UserCr")"><i class="icon-file-check2"></i> <span>AuditTrail Inquiry & Export</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApproveSVS")"><i class="icon-user-check"></i> <span>Approval</span></a></li>
