﻿@using UOB.SVS.Resources;

@{
    ViewBag.SubTitle = " - Index" ;
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="MenuId">@MenuResources.Menu_Id</option>
                                    <option value="MenuName">@MenuResources.Menu_Name</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>Menu Id</th>
                        <th>Menu Name</th>
                        <th>Function</th>
                        <th>Active</th>
                        <th>Detail</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: "@Html.Treemas().Page.GetActionUrl("Search")",
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('form').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '50px',
                        targets: [0],
                        data: "Id",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                        }
                    }, {
                        orderable: false,
                        width: '50px',
                        targets: [5],
                        data: "ParentMenu",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<a href="@Html.Treemas().Page.GetActionUrl("Add")/' + data + '" class="text-slate-700">@MenuResources.Add</a>';
                        }
                    }, {
                        width: '220px',
                        targets: [2]
                    }, {
                        width: '110px',
                        targets: [1,3]
                    }, {
                        orderable: true,
                        width: '80px',
                        targets: [4],
                        data: "Active",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            if (data == true)
                                return '<i class="text-success icon-checkmark2"></i>';
                            else
                                return '<i class="text-danger icon-cross3"></i>';
                        }
                    }],
            columns:
                    [{
                        "name": "Id",
                        "data": "Id"
                    }, {
                        "name": "MenuId",
                        "data": "MenuId"
                    }, {
                        "name": "MenuName",
                        "data": "MenuName"
                    }, {
                        "name": "FunctionId",
                        "data": "FunctionId"
                    }, {
                        "name": "Active",
                        "data": "Active"
                    }, {
                        "name": "Id",
                        "data": "Id"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                }
            });

    });


</script>