﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.BranchView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> MainBranchList = (IEnumerable<SelectListItem>)ViewData["MainBranchList"];

}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@BranchResources.BranchCode <span class="text-danger">*</span></label>
                            <div class="col-lg-2">
                                @Html.TextBox("BranchCode", Model.BranchCode, new { @id = "BranchCode", @required = "required", @autocomplete = "off", @class = "form-control input-xs",  maxlength = 3})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@BranchResources.Description <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("Description", Model.Description, new { @id = "Description", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Is Main Branch</label>
                            <div class="col-lg-4">
                                <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                    @BaseResources.No
                                    @Html.CheckBox("isMainBranch", Model.isMainBranch, new { @id = "isMainBranch", @class = "switchery" })
                                    @BaseResources.Yes
                                </div>
                            </div>
                        </div>
                        <div id="subBranch">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@BranchResources.MainBranch <span class="text-danger">*</span></label>
                                <div class="col-lg-6">
                                    @*@Html.DropDownList("MainBranch", MainBranchList, new { @id = "MainBranch", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs" })*@
                                    @Html.DropDownListFor(m => m.MainBranchID, MainBranchList, new { @id = "MainBranch", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (Model.Id > 0)
                        {
                            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(document).ready(function () {
        if ($('#isMainBranch').is(":checked")){
            $("#subBranch").hide();
        } else {
            $("#subBranch").show();
        }
        //set initial state.
        $('#isMainBranch').change(function () {
            if ($(this).is(":checked")) {
                $("#subBranch").hide();
            }
            else {
                $("#subBranch").show();
            }
        });
    });

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

       
        $('.bootstrap-select').selectpicker();

        @if(Model.Id>0)
        {
            @:$("#BranchCode").attr("readonly", "readonly");
                }
    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }
</script>