﻿@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> ApprovalFunctionList = (IEnumerable<SelectListItem>)ViewData["ApprovalFunctionList"];
    IEnumerable<SelectListItem> ApprovalStatusList = (IEnumerable<SelectListItem>)ViewData["ApprovalStatusList"];
    IEnumerable<SelectListItem> ApprovalTypeList = (IEnumerable<SelectListItem>)ViewData["ApprovalTypeList"];
}
<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Approval Function</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalFuntion", ApprovalFunctionList, new { @id = "ApprovalFuntion", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @*<label class="col-lg-3 control-label">Approval Status</label>
                        <div class="col-lg-7">
                            @Html.DropDownList("ApprovalStatus", ApprovalStatusList, new { @id = "ApprovalStatus", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Approval Type</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalType", ApprovalTypeList, new { @id = "ApprovalType", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>Approval Function</th>
                        <th>Request Type</th>
                        @*<th>Request Status</th>*@
                        <th>Maker User</th>
                        <th>Maker Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search?Mode=deletion")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "Id",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        console.log(data);
                        console.log(type);
                        console.log(meta);
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Approve")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
                //,
                //{
                //    orderable: true,
                //    width: '80px',
                //    targets: [4],
                //    data: "IsActive",
                //    className: "text-center",
                //    render: function (data, type, full, meta) {
                //        if (data == true)
                //            return '<i class="text-success icon-checkmark2"></i>';
                //        else
                //            return '<i class="text-danger icon-cross3"></i>';
                //    }
                //}
            ],
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "ApprovalFuntion",
                    "data": "ApprovalFuntion"
                }, {
                    "name": "RequestType",
                    "data": "RequestType"
                },  {
                    "name": "MakerUser",
                    "data": "MakerUser"
                }, {
                    "name": "MakerDate",
                    "data": "MakerDate"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>
