﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;
@model UOB.SVS.Models.RoleFunctionCrView
@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    RoleFunctionCrView rffCrData = (RoleFunctionCrView)ViewData["rffCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (rffCrData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Feature of Role Function Add";
            break;
        case "D":
            ViewBag.SubTitle = " - Feature of Role Function Delete";
            break;
    }
}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", rffCrData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", rffCrData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("RoleId", rffCrData.RoleId, new { @id = "RoleId", @autocomplete = "off", @class = "form-control input-xs" })

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>Before</h5>
                </div>
                <div class="col-md-6">
                    <h5>After</h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-2">@RoleResources.RoleName</label>
                            <label class="col-lg-6">@rffCrData.Name</label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-2">@RoleResources.RoleName</label>
                            <label class="col-lg-6">@rffCrData.Name</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @foreach (FunctionView ff in rffCrData.OldFunctionList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3">&emsp;@FunctionResources.FunctionName</label>
                                <label class="col-lg-4">&emsp;@ff.Name</label>
                            </div>
                        </fieldset>

                        for (int i = 0; i <= ff.OldFeatureList.Count - 1; i++)
                        {
                            FeatureView fv = ff.OldFeatureList[i];
                            <fieldset>
                                <div class="form-group form-group-xs">
                                    @if (i == 0)
                                    {
                                        <label class="col-lg-3">&emsp;Feature List</label>
                                    }
                                    else
                                    {
                                        <label class="col-lg-3">&emsp;</label>
                                    }
                                    <label class="col-lg-4">&emsp;@fv.Name</label>
                                </div>
                            </fieldset>
                        }
                        <br />
                    }
                </div>
                <div class="col-md-6">
                    @foreach (FunctionView ff in rffCrData.NewFunctionList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3">&emsp;@FunctionResources.FunctionName</label>
                                <label class="col-lg-4">&emsp;@ff.Name</label>
                            </div>
                        </fieldset>

                        for (int i = 0; i <= ff.NewFeatureList.Count - 1; i++)
                        {
                            FeatureView fv = ff.NewFeatureList[i];
                            <fieldset>
                                <div class="form-group form-group-xs">
                                    @if (i == 0)
                                    {
                                        <label class="col-lg-3">&emsp;Feature List</label>
                                    }
                                    else
                                    {
                                        <label class="col-lg-3">&emsp;</label>
                                    }
                                    <label class="col-lg-4">&emsp;@fv.Name</label>
                                </div>
                            </fieldset>
                        }
                        <br />
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!rffCrData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

</script>