﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;
@model UOB.SVS.Models.FunctionFeatureCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    FunctionFeatureCrView ffCrData = (FunctionFeatureCrView)ViewData["ffCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (ffCrData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Feature of Function Add";
            break;
        case "D":
            ViewBag.SubTitle = " - Feature of Function Delete";
            break;
    }
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", ffCrData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", ffCrData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("FunctionId", ffCrData.FunctionId, new { @id = "FunctionId", @autocomplete = "off", @class = "form-control input-xs" })

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <label class="col-lg-1">@FunctionResources.FunctionName</label>
                <label class="col-lg-6">@ffCrData.FunctionName</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Feature List Before</h5>
                </div>
                <div class="col-md-6">
                    <h5>Feature List After</h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    @foreach (FeatureView ff in ffCrData.OldFeatureList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@ff.Name</label>
                            </div>
                        </fieldset>
                    }
                </div>
                <div class="col-md-6">
                    @foreach (FeatureView ff in ffCrData.NewFeatureList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@ff.Name</label>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!ffCrData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectFunctionFeature")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>