﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;
@model UOB.SVS.Models.FeatureCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    FeatureCrView featureData = (FeatureCrView)ViewData["featureCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (featureData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Feature Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Feature Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Feature Delete";
            break;
    }
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", featureData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", featureData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApplicationID", featureData.ApplicationID, new { @id = "ApplicationID", @autocomplete = "off", @class = "form-control input-xs" })

    <div class="panel panel-flat">
        <div class="panel-body">
            @if (featureData.ApprovalType == "U")
            {
                <div class="row">
                    <div class="col-md-6">
                        <h5>Before</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>After</h5>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                @if (featureData.ApprovalType == "U")
                {
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@FeatureResources.SelectApplication</label>
                                <div class="col-lg-9">
                                    @Html.TextBox("ApplicationBefore", Model.ApplicationBefore, new { @id = "ApplicationBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@FeatureResources.FeatureId </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("FeatureIdBefore", Model.FeatureIdBefore, new { @id = "FeatureIdBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@FeatureResources.FeatureName </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("NameBefore", Model.NameBefore, new { @id = "NameBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label input-xs">@FeatureResources.Description </label>
                                <div class="col-lg-9">
                                    @Html.TextArea("DescriptionBefore", Model.DescriptionBefore, 5, 5, new { @id = "DescriptionBefore", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@FeatureResources.SelectApplication </label>
                            <div class="col-lg-9">
                                @Html.TextBox("Application", Model.Application, new { @id = "Application", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@FeatureResources.FeatureId </label>
                            <div class="col-lg-6">
                                @Html.TextBox("FeatureId", Model.FeatureId, new { @id = "FeatureId", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@FeatureResources.FeatureName </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Name", Model.Name, new { @id = "Name", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@FeatureResources.Description </label>
                            <div class="col-lg-9">
                                @Html.TextArea("Description", Model.Description, 5, 5, new { @id = "Description", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!featureData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectFeature")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>