﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;

@model UOB.SVS.Models.RoleCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    var a = appList;
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];
    RoleCrView roleData = (RoleCrView)ViewData["roleCrData"];
    switch (roleData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Role Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Role Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Role Delete";
            break;
    }
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", roleData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", roleData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApplicationID", roleData.ApplicationID, new { @id = "ApplicationID", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("SessionTimeout")
    @Html.Hidden("SessionTimeoutBefore")
    @Html.Hidden("LockTimeout")
    @Html.Hidden("LockTimeoutBefore")
    @Html.Hidden("Application")

    <div class="panel panel-flat">
        <div class="panel-body">
            @if (roleData.ApprovalType == "U")
            {
                <div class="row">
                    <div class="col-md-6">
                        <h5>Before</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>After</h5>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                @if (roleData.ApprovalType == "U")
                { 
                    <div class="col-md-6">
                    <fieldset>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.SelectApplication</label>
                            <div class="col-lg-9">
                                @Html.TextBox("ApplicationBefore", Model.ApplicationBefore, new { @id = "ApplicationBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.RoleId</label>
                            <div class="col-lg-6">
                                @Html.TextBox("RoleIdBefore", Model.RoleIdBefore, new { @id = "RoleIdBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.RoleName</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NameBefore", Model.NameBefore, new { @id = "NameBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@RoleResources.Description </label>
                            <div class="col-lg-9">
                                @Html.TextArea("DescriptionBefore", Model.DescriptionBefore, 5, 5, new { @id = "DescriptionBefore", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.SessionTimeout <span class="text-danger"></span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("SessionTimeoutBefore", Model.SessionTimeoutBefore, "{0:#.#}", new { @id = "SessionTimeoutBefore", @autocomplete = "off", @class = "form-control input-xs maskNumeric", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@RoleResources.LockTimeout </label>
                            <div class="col-lg-6">
                                @Html.TextBox("LockTimeoutBefore", Model.LockTimeoutBefore, "{0:#.#}", new { @id = "LockTimeoutBefore", @autocomplete = "off", @class = "form-control input-xs maskNumeric", @readonly = "readonly" })
                            </div>
                        </div>*@
                    </fieldset>
                </div>
                }
                <div class="col-md-6">
                    <fieldset>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.SelectApplication</label>
                            <div class="col-lg-9">
                                @Html.TextBox("Application", Model.Application, new { @id = "Application", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.RoleId</label>
                            <div class="col-lg-6">
                                @Html.TextBox("RoleId", Model.RoleId, new { @id = "RoleId", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.RoleName</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Name", Model.Name, new { @id = "Name", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@RoleResources.Description </label>
                            <div class="col-lg-9">
                                @Html.TextArea("Description", Model.Description, 5, 5, new { @id = "Description", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@RoleResources.SessionTimeout <span class="text-danger"></span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("SessionTimeout", Model.SessionTimeout, "{0:#.#}", new { @id = "SessionTimeout", @autocomplete = "off", @class = "form-control input-xs maskNumeric", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@RoleResources.LockTimeout </label>
                            <div class="col-lg-6">
                                @Html.TextBox("LockTimeout", Model.LockTimeout, "{0:#.#}", new { @id = "LockTimeout", @autocomplete = "off", @class = "form-control input-xs maskNumeric", @readonly = "readonly" })
                            </div>
                        </div>*@
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!roleData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectRole")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>